.env
documents
tests
modules/train_data2.jsonl
modules
modules/utilizer.py
.idea
.venv
dictionary
dictionary/dictionary.json
logs/app.log
__pycache__
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**__pycache__
