.env
documents
modules/train_data2.jsonl
modules
modules/utilizer.py
.idea
.venv
logs/app.log
logs
__pycache__/**
**/__pycache__/**
**/**/__pycache__/**
.ipynb_checkpoints/**
modules/trash
modules/trash/vibe_coders_project
config_test.yaml
tests/test_remote.py
ragas-eval-sys
datasets